@import "../../../styles/color-palette.scss";
@import "../../../styles/breakpoints.scss";

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  grid-gap: 10px;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 5px 0 20px 0;
  height: 30px;
  justify-content: center;
  @include from("desktop") {
    justify-content: flex-start;
  }
}
.active {
  background-color: $purple;
  color: #fff;
  height: 100%;

  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.inactive {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;

  padding: 5px 10px;
  cursor: pointer;
}
.addButton {
  display: grid;
  place-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  cursor: pointer;
  &:hover {
    background-color: $purple;
    color: white;
  }
}
