@import '../../styles/color-palette.scss';
@import '../../styles/breakpoints.scss';

.todo-list {
  margin: 80px auto 0;
  
  @include from('tablet') {
    margin-left: 60px;
    margin-right: 24px;
    max-width: 600px;
  }
}

.form {
  display: grid;
  justify-content: start;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 48px;
  width: 100%;
}