@import "../../styles/color-palette.scss";
@import "../../styles/breakpoints.scss";

.todo-list {
  display: flex;
  padding: 16px;
  overflow: hidden;
  min-height: 100vh;
  margin-top: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;

  ul {
    padding: 0;
  }
  @include from("tablet") {
    overflow: auto;
    margin: 10vh 0 0 5vh;
    min-height: unset;
    max-height: 100%;
  }
}

.todo-list-container {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form {
  display: grid;
  justify-content: start;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  bottom: 50px;
  left: 50px;
  padding: 10px;
}
