@import "../../styles/color-palette.scss";
@import "../../styles/breakpoints.scss";

.todo-list {
  display: flex;
  overflow: visible;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  ul {
    padding: 0;
  }
  @include from("desktop") {
    overflow: visible;

    padding: 0px;
    align-items: flex-start;

    margin: 10vh 0 0 5vh;
    min-height: unset;
    max-width: 100vw;
  }
}

.todo-list-container {
  gap: 10px;
  display: flex;
  flex-flow: row wrap;
  height: 60vh;
  width: 100%;
  word-break: break-all;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  @include from("desktop") {
    max-width: 70vw;
    overflow: visible;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
