@import '../../styles/color-palette.scss';
@import '../../styles/breakpoints.scss';

.author {
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-size: 14px;
  pointer-events: none;
  color: #bababa;

  @include from('tablet') {
    font-size: 12px;
    bottom: 16px;
  }
}


.author-name {
  pointer-events: all;
  color: black;

  &:hover {
    text-decoration: line-through;
  }
}