@import "../../styles/color-palette.scss";
@import "../../styles/breakpoints.scss";

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  flex-wrap: wrap;
  background-color: $cleanBlue;

  @include from("tablet") {
    flex-wrap: nowrap;
  }
}

.hero-left {
  width: 100%;
}

.hero-right {
  display: none;

  @include from("desktop") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    order: 1;
    padding: 24px;
  }

  h1 {
    color: $purple;
    font-size: 36px;
    line-height: 1;
    max-width: 15ch;
    pointer-events: none;
    margin-bottom: 24px;

    &:focus {
      outline: none;
    }

    @include from("tablet") {
      font-size: 52px;
    }
  }

  @include from("tablet") {
    order: 2;
    flex-basis: 50%;
    align-items: center;
  }
}

.hero-image {
  display: none;
  @include from("tablet") {
    display: block;
    margin-top: 50px;
  }
}

.hiw-cta {
  position: fixed;
  top: 12px;
  right: 24px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3 ease all;

  &:hover {
    text-decoration: underline;
  }
}
