@import '../../styles/color-palette.scss';
@import '../../styles/breakpoints.scss';

.how-it-works {
  position: relative;
  padding: 0 24px;
  
  @include from('tablet') {
    padding: 10%;
  }
  
  a { 
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    @include from('tablet') {
      margin: 32px 0;
    }
  }
}

.close {
  $size: 48px;
  $offset: calc($size / 2);

  position: absolute;
  display: grid;
  place-content: center;
  width: $size;
  height: $size;
  top: -($size) + $offset;
  right: -($size) + $offset;
  background-color: $beige;
  border-radius: 50%;
}