@import '../../styles/breakpoints.scss';
@import '../../styles/color-palette.scss';

$MODAL_Z_INDEX: 1000;

.modal {
  width: 90%;
  min-height: 70vh;
  height: max-content;  
  background-color: white;
  position: fixed;
  z-index: $MODAL_Z_INDEX;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  @include from('tablet') {
    width: 768px;
    min-height: unset;
  }

  p {
    margin: 16px;
  }

  button {
    cursor: pointer;
  }
}

.modal-overlay {
  z-index: $MODAL_Z_INDEX - 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
  
  &:hover {
    cursor: pointer;
  }
}
