@import "../../styles/breakpoints.scss";
@import "../../styles/color-palette.scss";

.todo {
  list-style: none;
  background-color: rgba($color: $normalBLue, $alpha: 0.9);
  backdrop-filter: blur(5px);
  border: $normalBLue 1px solid;
  color: black;
  display: flex;
  min-width: 200px;
  padding: 10px 10px 10px 20px;
  gap: 10px;
  flex: 1 1 auto;
  align-items: center;
  border-radius: 25px;

  display: flex;
  flex-direction: row;
}
.todoText {
  display: flex;
  flex-direction: column;
}

.description {
  word-break: break-word;
}
.title {
  font-weight: bold;
}
.open {
  background-color: rebeccapurple;
}
.delete {
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 10px;
  font-family: sans-serif;
  cursor: pointer;
  margin-left: 16px;
  margin-left: auto;
  background-color: $purple;
  color: white;
  flex-shrink: 0;
  &:hover {
    background-color: $accentBlue;
    scale: 1.1;
  }
}
