@import "../../styles/breakpoints.scss";
@import "../../styles/color-palette.scss";

.todo {
  list-style: none;
  background-color: $normalBLue;
  color: black;
  display: flex;
  min-width: 200px;
  padding: 10px 10px 10px 20px;
  width: 100%;
  gap: 10px;
  flex: 1 1 auto;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;

  @include from("desktop") {
    padding: 20px;
  }
}

.description {
  word-break: break-word;
}

.delete {
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 10px;
  font-family: sans-serif;
  cursor: pointer;
  margin-left: 16px;
  margin-left: auto;
  background-color: $purple;
  color: white;
  flex-shrink: 0;
  &:hover {
    background-color: $accentBlue;
    scale: 1.1;
  }
}
